body{
    background-color:rgb(21, 21, 21);
    color: white;
}

section{
    height: 100vh;
}

.bg-image {
    background: url('../src/Images/home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.animeate {
    opacity: 0;
    transform: translateY(50px);
    animation: animateUp 1s ease-out forwards;
}

@keyframes animateUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.home-content {
    padding-left: 10vh;
    padding-top: 20vh;
    font-size: 50px;
}

form{
    margin: 45vh;
    padding-top: 20vh;
}

h5{
    color: rgb(89, 89, 89);
}